<body>
    <!-- Title -->
    <div class="titleContainer">
        <h1 class="containerItem title">{{ entry.title }}</h1>
        {% if entry.readings | count == 1 and entry.readings[0].reading != entry.title %}
        <h1 class="containerItem reading">「{{ entry.readings[0].reading }}」</h1>
        {% endif %}
        <!-- First Definition Classifier -->
        {% if entry.definitions[0].part_of_speech != [] or entry.definitions[0].field != [] or entry.definitions[0].dialect != [] %}
        <div class="verticalFlex badges">
            <div class="containerItem badges">
                {% for pos in entry.definitions[0].part_of_speech %}
                <div class="subContainerItem badge partOfSpeech">{{ pos }}</div>
                {% endfor %}
                {% for field in entry.definitions[0].field %}
                <div class="subContainerItem badge field">{{ field }}</div>
                {% endfor %}
                {% for dialect in entry.definitions[0].dialect %}
                <div class="subContainerItem badge dialect">{{ dialect }}</div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <div class="subheaderContainer">
        <!-- Alternative Forms -->
        {% if entry.kanji | count > 1 or entry.readings | count > 1 %}
        <div class="alternativeFormsContainer subheaderSubcontainer">
            <!-- Alternative Kanji -->
            {% if entry.kanji | count > 1 %}
            <div class="kanjiContainer">
                <div class="containerHeader">Alternative Forms</div>
                {% for kanji in entry.kanji[1:] %}
                <div class="containerItem alternativeForm">
                    <div class="kanjiReading">{{ kanji.kanji }}</div>
                    {% for info in kanji.extra_info %}
                    <div class="subContainerItem info">
                        <div class="rightArrow">→</div>
                        <div class="kanjiInfo info">{{ info }}</div>
                    </div>
                    {% endfor %}
                    {% if kanji.is_common %}
                    <div class="subContainerItem badge common">Common Kanji</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <!-- Alternative Readings -->
            {% if entry.readings | count > 1 %}
            <div class="readingsContainer subheaderSubcontainer">
                <span class="containerHeader">Alternative Readings</span>
                {% for reading in entry.readings %}
                {% if reading.reading != entry.title %}
                <div class="containerItem alternativeReading">
                    <div class="reading">{{ reading.reading }}</div>
                    {% if reading.is_common %}
                    <div class="subContainerItem badge common">Common Kana</div>
                    {% endif %}
                    {% for related in reading.relates_to %}
                    <div class="subCountainerItem relatesTo">({{ related }})</div>
                    {% endfor %}
                    {% if not reading.is_true_reading %}
                    <div class="untrueReading badge">Reference Only</div>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endif %}

        <!-- Stroke Order -->
        {% if entry.stroke_image != None %}
        <div class="kanjiPathContainer subheaderSubcontainer">
            <div class="containerHeader">Stroke Order</div>
            <img src="Images/{{ entry.stroke_image }}" />
        </div>
        {% endif %}
    </div>


    <!-- Definitions -->
    {% for definition_group in entry.definitions %}
    {% if loop.first %}
    <div class="definitions">
        {% endif %}

        {% if not loop.first and (definition_group.part_of_speech != [] or definition_group.field != [] or definition_group.dialect != []) %}
        <div class="titleContainer">
            {% if definition_group.related_readings != [] %}
            {% for reading in definition_group.related_readings %}
            <h1 class="containerItem reading">{{ reading }}</h1>
            {% endfor %}
            {% else %}
            <h1 class="containerItem title">{{ entry.title }}</h1>
            {% endif %}
            <!-- First Definition Classifier -->
            <div class="verticalFlex badges">
                <div class="containerItem badges">
                    {% for pos in definition_group.part_of_speech %}
                    <div class="subContainerItem badge partOfSpeech">{{ pos }}</div>
                    {% endfor %}
                    {% for field in definition_group.field %}
                    <div class="subContainerItem badge field">{{ field }}</div>
                    {% endfor %}
                    {% for dialect in definition_group.dialect %}
                    <div class="subContainerItem badge dialect">{{ dialect }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        <div class="containerItem definition">
            <div class="subContainerItem definitionIndex">{{ loop.index }}</div>
            <div class="subContainerItem definition">{{ definition_group.definition | join(", ") }}</div>

            {% if definition_group.sense_info != [] or definition_group.reference != [] or definition_group.antonym != [] or definition_group.misc_info != [] %}
            {% for info in definition_group.sense_info %}
            <div class="subContainerItem info">
                <div class="subArrow">↳</div>
                <div class="senseInfo info">{{ info }}</div>
            </div>
            {% endfor %}
            {% for reference in definition_group.cross_references %}
            {% if reference.reference_id != None %}
            <div class="subContainerItem info">
                <div class="subArrow">↳</div>
                <div class="senseInfo info">See also: <a
                        href="x-dictionary:r:{{ reference.reference_id }}">{{ reference.reference_word }}</a></div>
            </div>
            {% endif %}
            {% endfor %}
            {% for info in definition_group.antonym %}
            <div class="subContainerItem info">
                <div class="subArrow">↳</div>
                <div class="senseInfo info">Antonym: {{ info }}</div>
            </div>
            {% endfor %}
            {% for info in definition_group.misc_info %}
            <div class="subContainerItem info">
                <div class="subArrow">↳</div>
                <div class="senseInfo info">{{ info }}</div>
            </div>
            {% endfor %}
            {% endif %}

        </div>
        {% if loop.last %}
    </div>
    {% endif %}
    {% endfor %}
</body>