@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

.containerItem.title, .containerItem.reading {
  font-size: x-large;
  margin: 0 5px;
  margin-left: 0;
  white-space: nowrap;
}

.containerHeader {
  font-size: small;
  padding-bottom: 5px;
}

.definitions .containerItem.definition {
  display: grid;
  grid-template-columns: 20px auto;
  grid-gap: 5px;
}

.subContainerItem.definition {
  grid-column: 2;
}

.subContainerItem.definitionIndex {
  grid-column: 1;
  color: grey;
  text-align: right;
  font-size: smaller;
}

.badge:first-child {
  margin-left: 0;
}

.badge:last-child {
  margin-right: 0;
}

.badge {
  background: rgb(240, 240, 240);
  border: 1px solid rgb(220, 220, 220);
  width: min-content;
  height: 1.2em;
  white-space: nowrap;
  padding: 2px 5px;
  font-size: 0.7em;
  border-radius: 5px;
  margin: 0 2px;
  margin-bottom: 1px;
}

.containerItem.badges {
  display: flex;
  margin-left: 5px;
  flex-wrap: wrap;
}

.subContainerItem.info {
  grid-column: 2;
  display: flex;
}

.subContainerItem.info .subArrow {
  color: grey;
  margin-right: 5px;
  align-self: center;
}

.subContainerItem.info .info {
  font-size: small;
  align-self: center;
}

.alternativeFormsContainer {
  display: grid;
  grid-template-rows: min-content;
  grid-gap: 10px;
  background: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.titleContainer {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  flex-wrap: wrap;
  grid-column: 1;
}

.verticalFlex.badges {
  display: flex;
  flex-direction: column-reverse;
}

.containerItem.alternativeForm {
  display: flex;
}

.rightArrow {
  font-size: small;
  padding: 0 5px;
  align-self: center;
}

@media (prefers-dark-interface)
{
	body {
		color: white;
	}
}