@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

.containerItem.title, .containerItem.reading {
  font-size: x-large;
  margin: 0 5px;
  margin-left: 0;
}

.containerHeader {
  font-size: small;
  padding-bottom: 5px;
}

.definitions .containerItem {
  display: grid;
  grid-template-columns: 15px auto;
  grid-gap: 5px;
}

.subContainerItem.definition {
  grid-column: 2;
}

.subContainerItem.definitionIndex {
  grid-column: 1;
  color: grey;
  text-align: right;
  font-size: smaller;
}

.badge:first-child {
  margin-left: 0;
}

.badge:last-child {
  margin-right: 0;
}

.badge {
  font-family: -apple-system;
  background: lightgray;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  padding: 2px 5px;
  font-size: 0.7em;
  border-radius: 5px;
  margin: 0 2px;
}

.containerItem.badges {
  display: flex;
  margin-left: 5px;
}

.subContainerItem.info {
  grid-column: 2;
  display: flex;
}

.subContainerItem.info .subArrow {
  color: grey;
  margin-right: 5px;
}

.subContainerItem.info .info {
  font-size: small;
}

.alternativeFormsContainer {
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  grid-gap: 5%;
}

.titleContainer {
  display: flex;
  margin-bottom: 10px;
}

.verticalFlex.badges {
  display: flex;
  flex-direction: column-reverse;
}