<body>
    <script>var html=document.getElementsByTagName("html")[0];var classes=html.className.split(" ");if(classes.indexOf("apple_client-application")!=-1){if(classes.indexOf("apple_display-separateview")==-1){html.classList.add("apple_client-spotlight")}}</script>
    <section id="header">
        <h1 id="page_title">{{ entry.page_title }}</h1>
    </section>
    <section id="definitions">
        <h3 class="section_heading" apple_mouseover_disable="1">Definitions</h3>
        {% for definition in entry.translations %}
        <article class="english_definition">
            <p class="number" apple_mouseover_disable="1">{{ loop.index }}</p>
            <div class="translation_info">
                <p>{{ definition.meaning }}</p>
            </div>
            <div class="translation_line">
                {% for translation in definition.translations %}
                <p class="translation">{{ translation.translation }}{% if translation.transliteration %}【{{ translation.transliteration }}】{% endif %}{% if not loop.last %},{% endif %}</p>
                {% endfor %}
            </div>
        </article>
        {% endfor %}
    </section>
</body>