<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.jackson-s.japanesedictionary</string>
	<key>CFBundleName</key>
	<string>Japanese - English</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Japanese Dictionary</string>
	<key>DCSDictionaryPrefsHTML</key>
	<string>JapaneseDictionary_prefs.html</string>
	<key>DCSDictionaryUseSystemAppearance</key>
	<true/>
</dict>
</plist>
