<body>
    <script>var html=document.getElementsByTagName("html")[0];var classes=html.className.split(" ");if(classes.indexOf("apple_client-application")!=-1){if(classes.indexOf("apple_display-separateview")==-1){html.classList.add("apple_client-spotlight")}}</script>
    <section id="header">
        <h1 id="page_title">{{ entry.page_title }}</h1>
    </section>

    <section id="sub_header">
        {% if entry.on_yomi | count > 0 or entry.kun_yomi | count > 0 or entry.nanori | count > 0 %}
        <section id="readings">

            {% if entry.on_yomi | count > 0 %}
            <section id="onyomi">
                <h3 class="section_heading" apple_mouseover_disable="1">On-Yomi</h3>
                {% for reading in entry.on_yomi %}
                <div class="reading">
                    <p>{{ reading }}</p>
                </div>
                {% endfor %}
            </section>
            {% endif %}
            
            {% if entry.kun_yomi | count > 0 %}
            <section id="kunyomi">
                <h3 class="section_heading" apple_mouseover_disable="1">Kun-Yomi</h3>
                {% for reading in entry.kun_yomi %}
                <div class="reading">
                    <p>{{ reading }}</p>
                </div>
                {% endfor %}
            </section>
            {% endif %}

            {% if entry.nanori | count > 0 %}
            <section id="nanori">
                <h3 class="section_heading" apple_mouseover_disable="1">Nanori</h3>
                {% for reading in entry.nanori %}
                
                <p>{{ reading }}</p>
                {% endfor %}
            </section>
            {% endif %}

        </section>
        {% endif %}

        {% if entry.similar_kanji | count > 0 %}
        <section id="similar_kanji">
            <h3 class="section_heading" apple_mouseover_disable="1">Similar Kanji</h3>
            {% for similar in entry.similar_kanji %}
            <div class="reading">
                <a href="x-dictionary:r:jp_kanji_{{ similar[0] }}">{{ similar[0] }}</a>
                <p>{{ similar[1] }}</p>
            </div>
            {% endfor %}
        </section>
        {% endif %}
    </section>

    <section id="definitions">
        <h3 class="section_heading" apple_mouseover_disable="1">Definitions</h3>
        {% for definition in entry.definitions %}
        <article>
            <p class="number" apple_mouseover_disable="1">{{ loop.index }}</p>
            <div class="translation_line">
                {% for translation in definition %}
                {% if loop.last %}
                <p class="translation">{{ translation }}</p>
                {% else %}
                <p class="translation">{{ translation }},</p>
                {% endif %}
                {% endfor %}
            </div>
        </article>
        {% endfor %}
    </section>

    {% if entry.image %}
    <section id="stroke_order">
        <h3 class="section_heading" apple_mouseover_disable="1">Stroke Order</h3>
        <img src="Images/{{ entry.image }}" />
    </section>
    {% endif %}
</body>