@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {
}

h1	{
	font-size: 150%;
}

h3	{
	font-size: 100%;
}

span.column {
	display: block;
	border: solid 2px #c0c0c0;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
}

p {
  margin: 0px 0;
  width: min-content;
  white-space: nowrap;
}

summary {
  cursor: pointer !important;
}

summary:focus {
  outline: none;
}

#sub_header {
  display: grid;
  grid-gap: 10px;
}

#sub_header > details, 
#sub_header > section {
  background-color: rgb(230,230,230);
  padding: 10px;
  border-radius: 5px;
}

#sub_header > #readings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section_heading {
  cursor: default;
  font-size: small;
  font-weight: normal;
  margin: 2px 0;
}

#sub_header > #nanori > p {
  display: inline-block;
}

#sub_header > #readings .reading {
  display: flex;
}

#sub_header > #readings .reading > p {
  margin-right: 10px;
}

#sub_header > #stroke_order > img {
  width: 100%;
}

#definitions, 
#english_translations {
  border: 1px solid lightgrey;
  margin: 10px 0;
  border-radius: 5px;
}

#definitions .section_heading, 
#english_translations .section_heading {
  padding: 10px 0 0 10px;
  margin: 0;
}

#definitions > article, 
#english_translations > article {
  display: grid;
  grid-gap: 10px;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: dotted 1.5px lightgray;
}

#definitions > article {
  grid-template-columns: min-content 1fr auto;
}

#english_translations > article {
  grid-template-columns: min-content min-content 1fr min-content;
}

#definitions > article:last-of-type, 
#english_translations > article:last-of-type {
    border-bottom: none;
}

#definitions .translation_line > p, 
#english_translations .translation_line > p {
  display: inline-block;
  margin-right: 5px;
}

#definitions .number, 
#english_translations .number {
  grid-column: 1;
  font-size: smaller;
  align-self: center;
  color: grey;
}

#definitions .badges, 
#english_translations .badges {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

#containing_kanji a {
  color: black;
  font-size: larger;
  margin-right: 5px;
}

.sentence {
  width: 100%;
  padding: 10px 0;
}

.sentence > p {
  white-space: normal;
  width: 100%;
}

.badge {
  display: inline-block;
  padding: 2px 5px;
  margin: 0 2px;
  background: rgb(230,230,230);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  border-radius: 5px;
  font-size: 80%;
}

/* Popup style - All prefaced with html.apple_client-panel */

/* Hide subheader and badges to reduce onscreen elements */
html.apple_client-panel #sub_header,
html.apple_client-panel .badge,
.section_heading {
  display: none;
}

html.apple_client-panel #page_title {
  font-size: small;
}

/* Remove background colouring and replace with a border element */
html.apple_client-panel #definitions,
html.apple_client-panel #definitions > article,
html.apple_client-panel #english_translations, 
html.apple_client-panel #english_translations > article {
  border: none;
  padding: 0;
  margin: 0;
}

html.apple_client-panel #definitions .translation_line > p, 
html.apple_client-panel #english_translations .translation_line > p {
  margin-right: 2px;
}

html.apple_client-panel #definitions .number, 
html.apple_client-panel #english_translations .number {
  font-size: 10px;
}

/* End popup styles */

@media (prefers-dark-interface)
{
	body {
		color: white;
	}
  
  #sub_header > details, #sub_header > section, .badge {
    background-color: rgb(80,80,80);
  }
}